<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
<div th:fragment="header-css">
	<!-- this is header-css -->
	<!-- META SECTION -->
	<title>tofbook • Livre Photo Collaboratif | Albums Photo Partagé - Imprimé</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- END META SECTION -->
	<!-- CSS INCLUDE -->
	<link rel="icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" id="theme" href="css/theme-blue.css" />
	<link rel="stylesheet" type="text/css" id="theme" href="css/custom-layout.css" />
	<!-- EOF CSS INCLUDE -->
</div>
</head>
<body>
	<div th:fragment="header">
		<!-- this is header -->

		<!-- START X-NAVIGATION VERTICAL -->
		<ul class="x-navigation x-navigation-horizontal">
			<li class="xn-logo"><a th:href="@{/}">tofbook</a> <a href="#"
				class="x-navigation-control"></a></li>
			<li class="xn-openable"><a href="#"><span
					class="fa fa-files-o"></span> <span class="xn-text">Creer un
						livre</span></a>
				<ul class="animated zoomIn">
					<li class="xn-openable"><a href="#"><span
							class="fa fa-clock-o"></span> Timeline</a>
						<ul>
							<li><a href="pages-timeline.html"><span
									class="fa fa-align-center"></span> Default</a></li>
							<li><a href="pages-timeline-simple.html"><span
									class="fa fa-align-justify"></span> Full Width</a></li>
						</ul></li>
					<li class="xn-openable"><a href="#"><span
							class="fa fa-envelope"></span> Mailbox</a>
						<ul class="animated zoomIn">
							<li><a href="pages-mailbox-inbox.html"><span
									class="fa fa-inbox"></span> Inbox</a></li>
							<li><a href="pages-mailbox-message.html"><span
									class="fa fa-file-text"></span> Message</a></li>
							<li><a href="pages-mailbox-compose.html"><span
									class="fa fa-pencil"></span> Compose</a></li>
						</ul></li>
					<li class="xn-openable"><a href="#"><span
							class="fa fa-file"></span> Blog</a>
						<ul>
							<li><a href="pages-blog-list.html"><span
									class="fa fa-copy"></span> List of Posts</a></li>
							<li><a href="pages-blog-post.html"><span
									class="fa fa-file-o"></span>Single Post</a></li>
						</ul></li>
				</ul></li>
			<li class="xn-openable"><a href="#"><span
					class="fa fa-file-text-o"></span> <span class="xn-text">Ajouter
						des photos</span></a></li>
			<li class="xn-openable"><a href="#"><span class="fa fa-cogs"></span>
					<span class="xn-text">Editer</span></a>
				<ul class="animated zoomIn">
					<li><a href="ui-icons.html"><span class="fa fa-magic"></span>
							Icons</a>
					<div class="informer informer-warning">+679</div></li>
				</ul></li>
			<li class="xn-openable"><a href="#"><span
					class="fa fa-pencil"></span> <span class="xn-text">Apercu</span></a>
				<ul class="animated zoomIn">
					<li><a href="form-layouts-two-column.html"><span
							class="fa fa-tasks"></span> Forsm Layouts</a>
						<div class="informer informer-danger">New</div>
						<ul>
							<li><a href="form-layouts-one-column.html"><span
									class="fa fa-align-justify"></span> One Column</a></li>
							<li><a href="form-layouts-two-column.html"><span
									class="fa fa-th-large"></span> Two Column</a></li>
							<li><a href="form-layouts-tabbed.html"><span
									class="fa fa-table"></span> Tabbed</a></li>
							<li><a href="form-layouts-separated.html"><span
									class="fa fa-th-list"></span> Separated Rows</a></li>
						</ul></li>
					<li><a href="form-elements.html"><span
							class="fa fa-file-text-o"></span> Elements</a></li>
				</ul></li>
			<!-- SIGN OUT -->
			<li class="xn-icon-button pull-right"><a href="#"
				class="mb-control" data-box="#mb-signout"><span
					class="fa fa-sign-out"></span></a></li>
			<li class=" pull-right"><a href="#"><span
					class="fa fa-files-o"></span> <span class="xn-text">save</span></a></li>
			<!-- END SIGN OUT -->
		</ul>
		<!-- END X-NAVIGATION VERTICAL -->

		<!-- START BREADCRUMB -->
		<!-- <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Layouts</a></li>
                    <li class="active">Navigation Top</li>
                </ul> -->
		<!-- END BREADCRUMB -->

		<!-- <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> Navigation Top</h2>
                </div>  -->

	</div>

</body>
</html>