<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="fr">
<head>
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b01c8393e4a630011ba6f95&product=inline-share-buttons' async='async'></script>
<div th:replace="fragments/header :: header-css"></div>
<style type="text/css">
</style>
</head>
<body>
	<!-- <div th:replace="fragments/header :: header"></div> -->
	
	<!-- START PAGE CONTAINER -->
	<div class="page-container page-navigation-top ">
		<!-- PAGE CONTENT -->
		<div class="page-content">
			<!-- PAGE CONTENT WRAPPER -->
			<div class="page-content-wrap">
				<div class="row">
					<div class="col-md-12">
						<a th:href="@{/}" class="tofbook-logo">
							<img src="img/LogoMakr_2.png" alt="logo de *tofbook"></a>
						<h1 class="page-big-text">
							Créez de beaux albums photoS, <br>avec vos amis, <br>En quelques cliques.
						</h1>
						<a th:href="@{/create/scratch}"	class="btn btn-primary btn-lg btn-rounded home-buttons">Commencer</a>
						<a class="btn btn-default btn-lg  home-buttons btn-rounded " id="demoVideoButton"> 
							<span class="fa fa-play-circle " style="font-size: 28px; color: #33414e;"></span> 
							<span style="color: #33414e;"> Démo</span>
						</a>
						<p class="font-size-sixteen">
							Déjà inscrit? <a th:href="@{/login}" data-signin>Connectez-vous	ici </a><br /> <br />
						</p>
						<!-- The Modal -->
						<div id="demoVideoModal" class="modal ">
							<span class="close stop-video">&times;</span>	
								<iframe id="demoVideo" class="videoFrame"  frameborder="0" style="border: solid 4px #37474F;" ></iframe>						
								<div id="caption"></div>
						</div>
						
						<footer class="footer text-center">
							<div class="container">
								<div class="wrapper">
									<div>
										<a href="#" target="_blank"> 
											<span class="hidden-xs">Aide &amp; FAQ</span> 
											<span class="hidden-sm hidden-md hidden-lg">FAQ</span>
										</a> 
										<span class="hidden-xs"> • <a href="#" target="_blank">Blog</a>	</span> 
										• <a data-toggle="modal" data-target="#pricing" href="#">Prix</a>	
										• <a href="#" target="_blank">100% Satisfait</a> 
										<span class="hidden-xs"> • <a href="#" target="_blank">Partenariats</a>	</span> 
										• <a href="mailto:help@tofbook.com">Écrivez-nous</a> <br>
									</div>
									<br> <br>
									<div>
										&copy; Copyright 2018 tofbook <br> Design by 
										<a	title="fdotien" href="http://fdotien.cf" target="_blank">fdotien</a>
									</div>
								</div>
							</div>
						</footer>
					</div>
				</div>
			</div>
			<!-- PAGE CONTENT WRAPPER -->
		</div>
		<!-- END PAGE CONTENT -->
	</div>
	<!-- END PAGE CONTAINER -->
	<div th:replace="fragments/footer :: footer"></div>
	 <script>
  </script>
</body>
</html>






